{% extends "base.html" %}
{% block title %}Об Авторе{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Об Авторе
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  Я — Чайник
                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">                    
          <div class="card-text">
            <p class="post-text">
              Всем привет, меня зовут Ян Желанов! И я пришёл в мир программирования достаточно давно.
              В детстве один мой друг на глазах создал страничку с кнопкой, быстро прикрутил к ней
              скрипт рандомизации числа и его вывода, и я вдохновился. Я увидел в этом потенциал для
              творчества и мне захотелось научится этому, поэтому он дал мне несколько разных источников
              для изучения HTML и CSS... Через какое-то время, мне надоело верстать и показалось это
              очень скучным, а до JS я так и не дошёл. В итоге, бросил фронт и программирование, но...
              Уже через несколько лет я случайно наткнулся на мануал по созданию собственной консольной
              программы с помощью C#. Мне это очень сильно понравилось, поначалу я создавал мелкие
              приложения, игры в жанре платформеров и кликеров, потом начал создавать ботов для онлайн
              игр... А потом даже пробовал писать свои игры на Unity.
            </p>
          </div>                    
        </div>                
      </div>            
    </div>        
  </main>
{% endblock %} 